name: CI

on:
  workflow_dispatch:

  push:
    branches:
      - "**"

jobs:
  test:
    name: 'Run test: playwright docker'
    timeout-minutes: 60
    runs-on: ubuntu-20.04
    container: mcr.microsoft.com/playwright:focal
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set node version to 16
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install deps
        run: |
          npm i cnpm -g
          cnpm i

      - name: Run lint
        run: npm run lint

      - name: Run test
        run: npm run test

      - name: Codecov
        uses: codecov/codecov-action@v3.0.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
