name: CI

on:
  workflow_dispatch:

  push:
    branches:
      - "**"

jobs:
  test:
    name: 'Run test: playwright docker'
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/playwright:focal
    env:
      HEADLESS: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Run lint
        run: npm run lint

      - name: Run test
        run: npm run test

      - name: Codecov
        uses: codecov/codecov-action@v3.0.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
